* {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(100, 100, 100);
  }

  :root {
    --background: white;
    --color: #222;
  }
  
  .dark-theme {
    --background: #222;
    --color: white;
  }
  
  body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background: var(--background);
    color: var(--color);
  }
  
  h1 {
    font-family: serif;
    display: inline;
    font-size: 20px;
    border-bottom: 5px solid #000000;
  }
  
  .special-div,
  .inner-special-div {
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .special-div {
    height: 60vh;
    width: 60vw;
  }
  
  .inner-special-div {
    height: 40%;
    width: 40%;
  }
  